block variables 
doctype html 
html 
  head
    meta(charset="utf-8")
    title #{title} | COVID-19 Report App
    block scripts 
      link(rel="stylesheet", type="text/css", href="/styles.css")
  body
    header#header 
      .header-content   
        h2#site-name 
          a(href="/") COVID-19 Report App
    main#main 
      block main-content 
    footer#footer 
      p &copy; Copyright Kee-Fung Anthony Ho, 2023.